# Core app dependencies
Flask==3.0.3
redis==4.5.4
prometheus-client==0.16.0

# OpenTelemetry core
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0

# Instrumentations
opentelemetry-instrumentation-flask==0.48b0
opentelemetry-instrumentation-redis==0.48b0

# Exporters
opentelemetry-exporter-otlp==1.27.0
opentelemetry-exporter-prometheus==0.48b0